body{
	font-family: 'Work Sans', sans-serif;
}

/*navbar begin*/

.topbar{
	background-color: #f8f8ff;
	margin-bottom: 0%;
}

.navbar{
	background-color: #f8f8ff;
	padding-bottom: %;
	padding-top: 2%;
	margin-bottom: 0%;
	
}

.navbar-brand{
	font-size: 39px;
}

@media screen and (max-width: 798px){
	.navbar-brand{font-size: 30px}
}

.navbar-toggle{
	border:solid 1px #333399;
}

.navbtn{
	border-radius: 100px;
    width: 130px;
    height: 45px;
    background-color: #313198;
    color: #ffffff;
}

.navbtn:hover{
	border: solid 2px #333399;
	color: #313198;
	background-color: #f8f8ff;
}

@media screen and (max-width: 878px) {
	.navbtn{width: 100px}
}

.navlink:hover{
	border:solid 1px #333399;
}

.navcontent{
	font-size: 18px;
	text-align: left;
	color: #313198;
	margin-left: 16%;
}

@media screen and (max-width: 919px){
	.navcontent{font-size: 16px}
}
@media screen and (max-width: 839px){
	.navcontent{font-size: 14px}
}
@media screen and (max-width: 1127px) {
	.navcontent{margin-left: -2%;}
}

.btn{
	margin-top: -1%;
}

@media screen and (max-width: 767px) {
	.btn{margin-left: -3%;}
}

/*navbar end*/

/*top begin*/

.top{
	padding-top: 5%;
	background-color: #f8f8ff;
}
	/*top text begin*/

.toptxt{
	margin-right: 17.5%;
	margin-left: 17.5%;
}
.toptxt1{
	font-size: 64px;
	text-align: center;
	color: #313198;
}

@media screen and (max-width: 860px){
	.toptxt1{font-size: 54px;}
}
@media screen and (max-width: 600px){
	.toptxt1{font-size: 30px}
}

.toptxt1_1{
	color: #ff0000;
}

.toptxt2{
	font-size: 18px;
	text-align: center;
	color: #313198;
	margin-bottom: 91px;
}
@media screen and (max-width: 434px){
	.toptxt2{font-size: 15px}
}
	/*top text end*/

	/*top box begin*/

.box1{
	background-color: #ffffff;
    box-shadow: 0 20px 23px 0 #e9e9f0;
    text-align: left;
    padding-bottom: 4%;
    width: 372px;
    height: 309px;
    padding-top: 20px;
    margin-bottom: 10%;
    margin: 0.7%
}
@media screen and (max-width: 1272px){
	.box1{margin-bottom: 5%}
}
@media screen and (max-width: 730px){
	.box1{margin-bottom: 7%}
}
@media screen and (max-width: 560px){
	.box1{margin-bottom: 10%}
}
@media screen and (max-width: 852px){
	.box1{margin-left: 25%}
}
@media screen and (max-width: 750px){
	.box1{margin-left: 15%}
}
@media screen and (max-width: 580px){
	.box1{margin-left: 5%}
}
@media screen and (max-width: 450px){
	.box1{margin-right: -2%;
		width: 310px;
		margin-bottom: 11%}
}

.box1_1{
	background-color: #ffffff;
    box-shadow: 0 20px 23px 0 #e9e9f0;
    text-align: left;
    padding-bottom: 4%;
    width: 370px;
    height: 309px;
    padding-top: 30px;
    margin-bottom: 10%;
    margin: 1%;
}
@media screen and (max-width: 1279px){
	.box1_1{margin-top: 5%}
}
@media screen and (max-width: 852px){
	.box1_1{margin-left: 25%}
}
@media screen and (max-width: 750px){
	.box1_1{margin-left: 15%}
}
@media screen and (max-width: 580px){
	.box1_1{margin-left: 5%}
}
@media screen and (max-width: 450px){
	.box1_1{margin-left: -1%;
			width: 350px;}
}

#boxp1{
	font-family: ;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #313198;
    text-align: left;
}

#boxp2{
	font-family: ;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    color: #313198;
    text-align: left;
}

#boxtxt{
	font-size: 15px;
	text-align: left;
	color: #313198;
}

		/*top box button begin*/

.boxbtn{
	text-align: center;
	margin-bottom: 3%;
}

.boxbtn1{
	border-radius: 100px;
	background-color: #313198;
	color: #ffffff;
	height: 68px;
	width: 241px;
	margin-top: 17%;
	text-align: center;
	border: solid 1px #313198;
}
@media screen and (max-width: 750px){
	.boxbtn1{width: 220px;
		height: 65px;}
}
@media screen and (max-width: 550px){
	.boxbtn1{width: 200px;
		height: 60px;}
}
@media screen and (max-width: 450px){
	.boxbtn1{width: 190px;
		height: 55px;}
}

.boxbtn1:hover{
	border: solid 1px #333399;
	background-color: #ffffff;
	color: #313198;
}

		/*top box button end*/

	/*top box end*/
	/*low top begin*/
.prtnrs{
	background-color: opacity: 0.51;
	background-color: #f7f9fc;
	text-align: center;
	padding-top: 5%;
}

.prtnrs1{
	opacity: 0.69;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 4.06;
	letter-spacing: normal;
	text-align: center;
	color: #495a71;
}
@media screen and (max-width: 600px){
	.prtnrs1{margin-top: 5%;}
}

.prtnrs2{
	word-spacing: 3em;
	margin-bottom: 3%;
}
	/*low top end*/
/*top end*/

/*middle begin*/
	/*group button begin*/
.middle{
	background-color: #f8f8ff;
	text-align: center;
	padding-top: 5%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #333399;
    border-radius: 100px;
 }

{
	background-color: #fff;
	border: solid 1px #333399;
}
.carousel-indicators>li.active, .carousel-indicators>li.active:focus{
	background-color: #333399;
	border: solid 1px #333399;
}

.carbox{
	margin-bottom: 20px;
}

 .cont{
 	padding-top: 4%;
 	text-align: center;
 	background-color: #f8f8ff; 
 }


.btn-grp{
	max-width: %;
	margin-left: 30%;
	font-size: 18px;
	text-align: center;
}
@media screen and (max-width: 1230px){
	.btn-grp{font-size: 16px}
}
@media screen and (max-width: 1155px){
	.btn-grp{margin-left: 28%}
}
@media screen and (max-width: 1080px){
	.btn-grp{font-size: 14px}
}
@media screen and (max-width: 960px){
	.btn-grp{margin-left: 24%}
}
@media screen and (max-width: 790px){
	.btn-grp{margin-left: 20%}
}
@media screen and (max-width: 695px){
	.btn-grp{margin-left: 15%}
}
@media screen and (max-width: 610px){
	.btn-grp{margin-left: 12%}
}
@media screen and (max-width: 562px){
	.btn-grp{font-size: 13px}
}
@media screen and (max-width: 530px){
	.btn-grp{margin-left: 9%}
}
@media screen and (max-width: 500px){
	.btn-grp{margin-left: 5%}
}
@media screen and (max-width: 465px){
	.btn-grp{margin-left: 3%}
}
@media screen and (max-width: 444px){
	.btn-grp{font-size: 11px}
}

	/*group button end*/

	/*middle text begin*/
.middle1{
	padding-right: 13%;
	padding-left: 13%;
}

.middle2{
	margin-top: 5%;
	margin-bottom: 5%;
}

.middlep1{
	font-family:;
	font-size: 60px;
	text-align: center;
	color: #333399;
}

.middlep2{
	font-size: 22px;
	text-align: center;
	color: #333399;
}

.middlep3{
	font-size: 16px;
	text-align: center;
	color: #909baa;
}
	/*middle text end*/
/*middle end*/

/*bottom begin*/

.bottom{
	padding-top: 5%;
}
.bottomp1{
	font-size: 16px;
	text-align: center;
	color: #333399;
}

.bottomp2{
	font-size: 36px;
	text-align: center;
	color: #333399;
}

.bottom3p1{
	font-size: 16px;
	text-align: center;
	color: #313198;
}

.bottom3p2{
	opacity: 0.6;
	font-size: 10px;
	text-align: center;
	color: #313198;
}

.bottom3p3{
	font-size: 13px;
	text-align: center;
	color: #909baa;
}

.bottom1{
	margin-top: %;
	margin-bottom: 3%;
	text-align: center;
}

.bottom3{
	background-color: #ffffff;
	box-shadow: 0 20px 23px 0 #e9e9f0;
	text-align: center;
	height: 309px;
	width: 275px;
	padding: 33px;
	margin-bottom: 1%;
	margin: 0.3%;
}

@media screen and (max-width: 909px){
	.bottom3{margin-left: 7%;
			margin-bottom: 2%;}
		}

@media screen and (max-width: 770px){
	.bottom3{margin-left: 3%;
			margin-bottom: 1%;}
		}
@media screen and (max-width: 767px){
	.bottom3{margin-left: 25%;
			margin-bottom: 2%;}
		}
@media screen and (max-width: 600px){
	.bottom3{margin-left: 15%;
			margin-bottom: 2%;}
		}
@media screen and (max-width: 450px){
	.bottom3{margin-left: 7%;
			margin-bottom: 2%;}
		}
@media screen and (max-width: 401px){
	.bottom3{margin-left: 8%;
			margin-bottom: 2%;}
		}

*/
/*bottom end*/

.footer{
	padding-left: %;
	padding-bottom: 3%;
	padding-top: 3%;
	background-color: #f9f9f9;
}

.end{
	background-color: #f9f9f9;
	padding-left: %;
	padding-bottom: 3%;
	padding-top: 3%;

}

.footerp1{
	font-size: 39px;
	color: #4a4a4a;
}

.footerp2{
	opacity: 0.46;
	font-size: 14px;
	text-align: left;
	color: #4a4a4a;
}

.footerhd{
    font-size: 14px;
    text-align: left;
    color: #94a7b7;
    list-style-type: none;
}

.footerlist{
	list-style-type: none;
}
@media screen and (max-width: 991px){
	.footerlist{margin-left: -4%}
}
@media screen and (max-width: 960px){
	.footerlist{margin-left: -5%}
}
@media screen and (max-width: 720px){
	.footerlist{margin-left: -6%}
}
@media screen and (max-width: 625px){
	.footerlist{margin-left: -7%}
}
@media screen and (max-width: 500px){
	.footerlist{margin-left: -8%}
}
@media screen and (max-width: 450px){
	.footerlist{margin-left: -9%}
}
@media screen and (max-width: 401px){
	.footerlist{margin-left: -10%}
}

.footerbd{
    font-size: 14px;
    text-align: left;
    color: #8296a8;
}

input{
	border: solid 1px #313198;
	height: 50px;
	width: 300px;
	padding-left: 3%;
}

.media{
	margin-top: 1%;
}

.fa {
	padding: 15px;
	width: 45px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	opacity: 0.74;
	mix-blend-mode: darken;
}

.fa-facebook {
	background-color: #fff;
	border: solid 1px #3B5998;
	color: #3B5998;
}

.fa-facebook:hover{
	background: #3B5998;
    color: white;
}

.fa-linkedin {
	background-color: #fff;
	border: solid 1px #007bb5;
	color: #007bb5;
}

.fa-linkedin:hover{
	background-color: #007bb5;
	color: #fff;
}

.fa-instagram {
	background-color: #fff;
	border: solid 1px #125688;
	color: #125688;
}

.fa-instagram:hover{
	background: #125688;
	color: white;
}

.br-none {
	border-top-right-radius: 1px !important;
	border-bottom-right-radius: 1px !important;
	border: 1px solid #313198 !important;
	border-radius: 100px;
}

.br-none a:hover {
	background: #grey !important;
	border-top-right-radius: 1px !important;
	border-bottom-right-radius: 1px !important;
	border-radius: 100px;
}

.bl-none {
	border-top-left-radius: 1px !important;
	border-bottom-left-radius: 1px !important;
	border: 1px solid #313198 !important;
	border-radius: 100px;
}

.br-none a {
	border-top-right-radius: 1px !important;
	border-bottom-right-radius: 1px !important;
	border-color: #313198 !important;
	color: #313198;
}

.bl-none a {
	border-top-left-radius: 1px !important;
	border-bottom-left-radius: 1px !important;
	border-color: #313198 !important;
	color: #313198;
}

.bl-none a:hover {
	background: #grey !important;
	border-top-left-radius: 1px !important;
	border-bottom-left-radius: 1px !important;
	border-radius: 100px;
}

